@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Roboto+Mono&display=swap');

/* Global settings */

:root {
    --fs-xs: 0.75rem;
    --fs-small: 1.5rem;
    --fs-medium: 2rem;
    --fs-large: 3.5rem;
    --fs-xl: 5rem;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
    color:rgb(240, 224, 255);
    background-color:white;
}

a {
    text-decoration: none;
    color: inherit;
    font-size: var(--fs-medium);
}

h2, h3, h4, h5, h6, ul {
    padding: 10px;
    margin: 0;
    font-size: var(--fs-large);
}

p {
    padding: 5px;
    font-size: var(--fs-small);
}

h1 {
    font-size: var(--fs-xl);
    margin: 10px;
    color: white;
}

.textcenter {
    text-align: center;
}

/* Nav */

nav {
    display: flex;
    justify-content: space-around;
    width: 95%;
    background-color: rgb(20, 20, 20);
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom: 1px solid rgb(82, 82, 82);
    margin: auto;
    align-items: center;
    margin-bottom: 5px;
    transition: border-bottom 200ms linear;
}

nav:hover {
    border-bottom: 5px solid rgb(95, 95, 95);
}

#j-logo {
    height: 50px;
    width: 50px;
    padding: 5px;
    margin: 10px;
    border: 2px solid rgb(20, 20, 20);
    border-radius: 33%;
    opacity: 75%;
}

#j-logo:hover {
    transition: margin-left 1.5s ease-out, border 2s, opacity 1s;
    opacity: 100%;
    border: 2px solid rgb(75, 53, 99);
}

.nav-center {
    display: flex;
    color: white;
}

.nav-center p {
    align-self: center;
    margin: 0 1.25rem;
    opacity: 75%;
    border-bottom: 0px solid white;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    transition: opacity 200ms linear, border-bottom 200ms linear, border-bottom-left-radius 200ms linear, border-bottom-right-radius 200ms linear, color 200ms linear;
}

.nav-center p:hover {
    
    opacity: 100%;
    border-bottom: 3px rgb(237, 218, 255) solid;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: rgb(217, 176, 255);
}

.nav-right {
    display: flex;
}

.nav-right img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.nav-right :first-child:hover {
    opacity: 50%;
    transition: opacity 200ms ease-out;
}

.nav-right :last-child:hover {
    opacity: 50%;
    transition: opacity 200ms ease-out;
}

.nav-right :last-child {
    margin-right: 10px;
}

@media screen and (max-width: 900px) {
    .nav-right img {
        display: none;
    }
    #j-logo {
        display: none;
    }
    a {
        font-size: var(--fs-xs);
    }
    h1 {
        display: none;
    }
    h2, h3, h4, h5, h6, ul {
        font-size: var(--fs-small);
    }
    p {
        font-size: var(--fs-xs);
    }
    .duck img {
        width: 75px !important;
        height: 75px !important; 
    }
    .tech-img {
        width: 100px !important;
        height: 100px !important;
    }
}

/* Home */

.space-container {
    padding: 0%;
    background-image: url("6egckqX-space-hd-wallpapers-1080p.jpg");
    background-position:fixed; 
    background-size: cover; 
    background-repeat: no-repeat; 
}

#hi {
    padding: 25px;
}

.intro-banner {
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-evenly;
    font-size: 6vw;
    margin: 25px;
}

.intro-text-wrapper {
    display: flex;
}

.intro-text-wrapper p {
    margin-right: 75px;
}

#name-list {
    display: flex;
    list-style: none;
    color: rgb(234, 208, 255);
    font-family: 'Indie Flower', 'Roboto Mono', monospace;
}

#name-list * {
    padding: 25px 10px;
    opacity: 50%;
    font-size: 9.5vw;
}

#j {
    font-size: 10vw;
    transition: opacity 200ms linear, font-size 200ms linear, transform 200ms linear;
}

#j:hover {
    opacity: 100%;
    font-size: 10.25vw;
}

#a {
    transition: opacity 200ms linear, font-size 200ms linear;
}

#a:hover {
    opacity: 100%;
    font-size: 9vw;
}

#m {
    transition: opacity 200ms linear, font-size 200ms linear;
}

#m:hover {
    opacity: 100%;
    font-size: 9vw;
}

#e {
    transition: opacity 200ms linear, font-size 200ms linear;
}

#e:hover {
    opacity: 100%;
    font-size: 9.5vw;
}

#s {
    transition: opacity 200ms linear, font-size 200ms linear;
}

#s:hover {
    opacity: 100%;
    font-size: 10vw;
}

#profile-img {
    border-radius: 50%;
    height: auto;
    max-width: 250px;
    max-height: 250px;
    opacity: 75%;
    transition: opacity 1s ease-out, transform 1s ease-out;
}

@media screen and (max-width: 900px) {
    #profile-img {
        max-width: 100px;
        max-height: 100px;
        margin-top: 1rem;
    }
    #profile-img:hover {
        transform: none !important;
    }
}

#profile-img:hover {
    opacity: 100%;
    transform: translate(0px, -50px);
}

.space-container > p {
    margin-left: 10vw;
    padding-bottom: 10vh;
}

/* Technologies */

.technologies-header {
    margin: auto;
    padding: 25px;
    border-radius: 25px;
    width: 75%;
    color: black;
}

.technologies-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: auto;
    background-color: rgb(116, 101, 153);
    border-radius: 25px;
    margin-bottom: 50px;
}

.tech-box {
    background-color: rgb(228, 228, 228);
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    transition: background-color 100ms linear;
}

.tech-box:hover {
    background-color: rgb(116, 101, 153);
}

.tech-img {
    width: 200px;
    height: 200px;
}

/* Rubber Ducking */

.duck {
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: center;
    background-color: rgb(26, 26, 26);
    border-radius: 25px;
    padding: 10px;
    transition: color 200ms linear, background-color 200ms linear;
    margin: auto;
    margin-bottom: 50px;
}

.duck:hover {
    background-color:ghostwhite;
    color: orangered;
}

.duck h3 {
    width: 80%;
}

.duck img {
    width: 125px;
    height: 125px; 
    border-radius: 100%;
}

/* Github source code */

.github-container {
    position: relative;
    display: flex;
    justify-content: center;
    width: 80%;
    margin: auto;
    margin-bottom: 50px;
}

.github-container img {
    border-radius: 100px;
    width: 100%;
}

.sourcetext {
    position: absolute;
    margin-top: 50px;
    width: 80%;
}

#gitlink {
    transition: opacity 200ms linear, border-bottom 200ms linear, border-bottom-left-radius 200ms linear, border-bottom-right-radius 200ms linear, color 200ms linear, font-size 200ms linear;
    font-size: 3.5vw;
}

#gitlink:hover {
    opacity: 100%;
    border-bottom: 3px rgb(237, 218, 255) solid;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: white;
    font-size: 4vw;
}

/* About */

@media screen and (max-width: 900px) {
    #about-img {
        display: none;
    }
    .spotify-wrapper {
        flex-direction: column;
    }
    .reddit-wrapper {
        flex-direction: column;
    }
    #spotify-img {
        max-width: 75px !important;
        max-height: 75px !important;
        padding: 0rem !important;
        margin: 0.5rem !important;

    }
    #reddit-logo {
        max-width: 75px !important;
        max-height: 75px !important;
        padding: 0rem !important;
        margin: 0.5rem !important;
    }
}

.about-container {
    display: flex;
    margin: 50px auto;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(20, 20, 20);
    border-radius: 100px;
    width: 90%;
}

#about-img {
    border-radius: 100px;
    max-width: 30vw;
    max-height: 30vh;
    padding: 25px;
}

.about-text h3 {
    padding: 15px;
    margin: 15px;
}

.about-text p {
    padding: 15px;
}

/* Porfolio Links */

#projects {
    background-color: rgb(20, 20, 20);
    border-radius: 100px;
    width: 50%;
    padding: 15px;
    margin: auto;
}

.portfolio-wrapper {
    display: flex;
    margin: 50px auto;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(20, 20, 20);
    border-radius: 100px;
    width: 90%;
}

.portfolio-text {
    margin: 1rem;
    width: 80%;
}

.spotify-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#spotify-img {
    border-radius: 100px;
    max-width: 250px;
    max-height: 250px;
    padding: 1rem;
    margin: 1rem;
    border: rgb(20, 20, 20) 1px solid;
}

#spotify-img:hover {
    border: white 3px solid;
    transition: border 300ms ease-out;
}

.reddit-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

#reddit-logo {
    max-width: 150px;
    max-height: 150px;
    padding: 15px;
    margin: 25px;
}

#reddit-logo:hover {
    border: white 3px solid;
    transition: border 300ms ease-out;
    border-radius: 50%;
}

/* Contact */

@media screen and (max-width: 900px) {
    .contact-header {
        font-size: var(--fs-small) !important;
        padding: 1rem 2rem !important;
    }
}

.contact-header {
    background-color: rgb(20, 20, 20);
    margin: 50px auto;
    border-radius: 50px;
    padding: 25px 75px;
    width: 80%;
    font-size: var(--fs-medium);
}

form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    color: rgb(240, 224, 255);
    background-color: black;
    border-radius: 20px;
}

fieldset {
    display: flex;
    flex-direction: column;
    border: none;
}

fieldset input {
    margin: 10px 0px;
    padding: 10px 0px;
}

/* CSS */
.button-85 {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 20vw;
  margin: 10px auto;
  margin-top: 25px;
  background-color: none;
}

.button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.map-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#map {
    padding: 50px;
    margin: auto;
    border-radius: 75px;
    transition: all 500ms ease-in-out; 
}

#map:hover {
    transform: scale(1.05);
}

/* Footer */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    align-items: center;
    padding-bottom: 50px;
}

footer p {
    margin: 10px;
    font-size: var(--fs-xs);
}