@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Roboto+Mono&display=swap');

/* Global settings */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 2vw;
    font-family: 'Roboto Mono', monospace;
    color:rgb(240, 224, 255);
    background-color:ghostwhite;
}

a {
    text-decoration: none;
    color: inherit;
}

h1, h2, h3, h4, h5, h6, p, ul {
    padding: 0;
    margin: 0;
}

p {
    padding: 5px;
}

h1 {
    font-size: 9vw;
    color: white;
}

.textcenter {
    text-align: center;
}

/* Nav */

nav {
    display: flex;
    justify-content: space-between;
    width: 95%;
    background-color: rgb(20, 20, 20);
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom: 1px solid rgb(82, 82, 82);
    margin: auto;
    align-items: center;
    margin-bottom: 5px;
    transition: border-bottom 200ms linear;
}

nav:hover {
    border-bottom: 10px solid rgb(136, 136, 136);
}

#j-logo {
    height: 50px;
    width: 50px;
    padding: 5px;
    margin: 10px;
    margin-left: 20px;
    border: 2px solid rgb(20, 20, 20);
    border-radius: 33%;
    opacity: 75%;
}

#j-logo:hover {
    transition: margin-left 1.5s ease-out, border 2s, opacity 1s;
    opacity: 100%;
    border: 2px solid rgb(75, 53, 99);
    margin-left: 35px;
}

.nav-center {
    display: flex;
    color: white;
}

.nav-center p {
    align-self: center;
    margin: 0 50px;
    font-size: 30px;
    opacity: 75%;
    border-bottom: 0px solid white;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    transition: opacity 200ms linear, border-bottom 200ms linear, border-bottom-left-radius 200ms linear, border-bottom-right-radius 200ms linear, color 200ms linear;
}

.nav-center p:hover {
    
    opacity: 100%;
    border-bottom: 3px rgb(237, 218, 255) solid;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: rgb(217, 176, 255);
}

.nav-right {
    display: flex;
}

.nav-right img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.nav-right :first-child:hover {
    opacity: 50%;
    transition: opacity 200ms ease-out;
}

.nav-right :last-child:hover {
    opacity: 50%;
    transition: opacity 200ms ease-out;
}

.nav-right :last-child {
    margin-right: 10px;
}

/* Home */

.space-container {
    padding: 0%;
    background-image: url("6egckqX-space-hd-wallpapers-1080p.jpg");
    background-position:fixed; 
    background-size: cover; 
    background-repeat: no-repeat; 
}

#hi {
    padding: 25px;
}

.intro-banner {
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-evenly;
    font-size: 6vw;

}

.intro-text-wrapper {
    display: flex;
}

.intro-text-wrapper p {
    margin-right: 75px;
}

#name-list {
    display: flex;
    list-style: none;
    color: rgb(234, 208, 255);
    font-family: 'Indie Flower', 'Roboto Mono', monospace;
    
}

#name-list * {
    padding: 25px 10px;
    opacity: 50%;
    font-size: 9.5vw;
}

#j {
    font-size: 11vw;
    transition: opacity 200ms linear, font-size 200ms linear, transform 200ms linear;
}

#j:hover {
    opacity: 100%;
    font-size: 12vw;
    transform: translate(0px, -20px);
}

#a {
    transition: opacity 200ms linear, font-size 200ms linear;
}

#a:hover {
    opacity: 100%;
    font-size: 9vw;
}

#m {
    transition: opacity 200ms linear, font-size 200ms linear;
}

#m:hover {
    opacity: 100%;
    font-size: 9vw;
}

#e {
    transition: opacity 200ms linear, font-size 200ms linear;
}

#e:hover {
    opacity: 100%;
    font-size: 9.5vw;
}

#s {
    transition: opacity 200ms linear, font-size 200ms linear;
}

#s:hover {
    opacity: 100%;
    font-size: 10vw;
}

#profile-img {
    border-radius: 50%;
    max-height: 250px;
    max-width: 250px;
    min-height: 100px;
    min-width: 100px;
    opacity: 75%;
    transition: opacity 1s ease-out, transform 1s ease-out;
}

#profile-img:hover {
    opacity: 100%;
    transform: translate(0px, -50px);
}

.space-container > p {
    margin-left: 100px;
    padding-bottom: 100px;
}

/* Technologies */

.technologies-header {
    margin: auto;
    padding: 25px;
    border-radius: 25px;
    width: 75%;
    color: black;
}

.technologies-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: auto;
    background-color: rgb(116, 101, 153);
    border-radius: 25px;
    margin-bottom: 50px;
}

.tech-box {
    background-color: rgb(228, 228, 228);
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    transition: background-color 100ms linear;
}

.tech-box:hover {
    background-color: rgb(116, 101, 153);
}

.tech-img {
    width: 200px;
    height: 200px;
}

/* Rubber Ducking */

.duck {
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: center;
    background-color: rgb(26, 26, 26);
    border-radius: 25px;
    padding: 10px;
    transition: color 200ms linear, background-color 200ms linear;
    margin: auto;
    margin-bottom: 50px;
}

.duck:hover {
    background-color:ghostwhite;
    color: orangered;
}

.duck h3 {
    width: 80%;
}

.duck img {
    width: 125px;
    height: 125px; 
    border-radius: 100%;
}

/* Github source code */

.github-container {
    position: relative;
    display: flex;
    justify-content: center;
    width: 80%;
    margin: auto;
    margin-bottom: 50px;
}

.github-container img {
    border-radius: 100px;
    width: 100%;
}

.sourcetext {
    position: absolute;
    margin-top: 50px;
    font-size: 3vw;
    width: 80%;
}

#gitlink {
    transition: opacity 200ms linear, border-bottom 200ms linear, border-bottom-left-radius 200ms linear, border-bottom-right-radius 200ms linear, color 200ms linear, font-size 200ms linear;
    font-size: 3.5vw;
}

#gitlink:hover {
    opacity: 100%;
    border-bottom: 3px rgb(237, 218, 255) solid;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: white;
    font-size: 4vw;
}

/* About */

.about-container {
    display: flex;
    margin: 50px auto;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(20, 20, 20);
    border-radius: 100px;
    width: 90%;
}

#about-img {
    border-radius: 100px;
    width: 300px;
    height: 300px;
    padding: 25px;
}

.about-text h3 {
    padding: 15px;
}

.about-text p {
    font-size: 1.5vw;
    padding: 15px;
}

/* Contact */

.contact-header {
    background-color: rgb(20, 20, 20);
    margin: 50px auto;
    border-radius: 50px;
    padding: 25px 75px;
    width: 80%;
    font-size: 1.75vw;
}

.map-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#map {
    padding: 50px;
    margin: auto;
    border-radius: 75px;
    transition: all 500ms ease-in-out; 
}

#map:hover {
    transform: scale(1.1);
}

/* Footer */

footer {
    display: flex;
    justify-content: space-between;
    background-color: black;
    font-size: 1vw;
    align-items: center;
}

footer p {
    margin: 10px;
}